# Ignore node_modules
node_modules/

# Ignore logs
*.log
logs/

# Ignore environment variable file
.env

# Ignore temporary files from editors
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
